:root {
  --border-radius: 10px;
  --primary-color: rgb(119 27 207 / 63%);
  --color-text: rgb(120, 27, 207);
  --box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.503);
  --transition: all ease-in-out 600ms;
}
body {
  font-family: "Zain", serif;
  background-image: url("../media/baby-name-background.jpg");
  background-size: cover;
}
.container,
form {
  border-radius: var(--border-radius);
}
.container,
footer {
  max-width: 700px;
}
.container {
  margin: 120px auto 30px;
  padding: 10px 15px;
  background-image: url("../media/baby-feet.jpg");
  background-size: contain;
  box-shadow: var(--box-shadow);
}
h1,
footer {
  text-align: center;
}
h1 {
  font-family: "Smythe", serif;
}
form {
  background-color: rgba(226, 157, 253, 0.904);
  padding: 10px 0;
}
.user-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 19px;
}
fieldset {
  border: 1px solid pink;
  border-radius: var(--border-radius);
  padding: 30px 15px;
}
fieldset legend, .input-wrapper, input {
  text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
-webkit-box-shadow: 0 0 0 30px white inset !important;
-webkit-text-fill-color: var(--primary-color);
}
.radio-buttons-wrapper {
  margin-top: 10px;
}
.radio-buttons-wrapper div, .input-wrapper label {
  line-height: 1.5;
}
.radio-button {
  accent-color: var(--primary-color);
}
.culture,
.length {
  padding: 8px 15px;
  border-radius: calc(var(--border-radius) - 5px);
  border: none;
  background-color: rgb(211, 243, 253);
  color: var(--color-text);
  width: 200px;
}
.culture:focus,
.length:focus {
  outline: 2px solid var(--primary-color);
}
.submit-button {
  display: block;
  margin: 20px auto 10px;
  padding: 10px 15px;
  border: none;
  border-radius: calc(var(--border-radius) - 2px);
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.submit-button:hover {
  color: var(--color-text);
  outline: 2px solid var(--primary-color);
  background: white;
  cursor: pointer;
}
section {
  background-color: rgba(135, 207, 235, 0.877);
  border-radius: var(--border-radius);
  margin: 10px auto;
  padding: 20px 10px 10px;
}
.hidden {
  display: none;
}
span.generating,
section div {
  font-size: 19px;
}
span.generating,
section div,
small,
footer {
  text-align: center;
}
span.generating,
small {
  display: block;
  opacity: 0.9;
}
span.generating {
  padding-bottom: 10px;
}
small {
  margin: 8px auto 0;
  background-color: rgba(224, 222, 225, 0.903);
  border-radius: calc(var(--border-radius) - 5px);
}
footer {
  display: block;
  margin: 0 auto 50px;
  padding: 15px 10px;
  border-radius: var(--border-radius);
  background: url("../media/hearts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow);
}
footer p {
  background-color: rgba(181, 114, 244, 0.922);
  border-radius: var(--border-radius);
  padding: 10px 5px;
  margin: 0;
  font-size: 17px;
}
footer a {
  font-weight: bold;
  color: rgb(132, 1, 71);
  transition: var(--transition);
}
footer a:hover {
  color: rgb(202, 21, 117);
}
.generating {
  animation: blink-animation 1000ms steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  .user-input-container {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 300px) {
    .culture,
    .length {
      width: 150px;
    }
  }
}
