body {
  font-family: "Zain", serif;
  background-image: url("../media/baby-name-background.jpg");
  background-size: cover;
}
.container {
  max-width: 700px;
  margin: 120px auto 30px;
  padding: 10px 15px;
  border-radius: 10px;
  background-image: url("../media/baby-feet.jpg");
  background-size: 100%;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.503);
}
h1 {
  text-align: center;
  font-family: "Smythe", serif;
}
form {
  background-color: rgba(226, 157, 253, 0.904);
  border-radius: 10px;
  padding: 10px 0;
}
.user-input-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 19px;
}
.radio-buttons-wrapper {
  margin-top: 10px;
}
fieldset {
  border: none;
  position: relative;
  right: -5px;
}
.radio-button {
  accent-color: rgb(119 27 207 / 63%);
}
.culture-wrapper {
  padding-bottom: 10px;
}
.culture,
.length {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(211, 243, 253);
  color: rgb(120, 27, 207);
  width: 200px;
}
.culture:focus,
.length:focus {
  outline: 2px solid rgb(119 27 207 / 63%);
}
.submit-button {
  display: block;
  margin: 20px auto 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(119 27 207 / 63%);
  color: white;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.503);
  transition: all ease-in-out 600ms;
}
.submit-button:hover {
  color: rgb(120, 27, 207);
  outline: 2px solid rgb(119 27 207 / 63%);
  background: white;
  cursor: pointer;
}
main {
  background-color: rgba(135, 207, 235, 0.877);
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px 10px 10px;
}
.hidden {
  display: none;
}
span.generating {
  display: block;
  text-align: center;
  opacity: 0.9;
  font-size: 19px;
  padding-bottom: 10px;
}
main div {
  text-align: center;
  font-size: 19px;
}
.container small {
  display: block;
  margin: 8px auto 0;
  text-align: center;
  background-color: rgba(224, 222, 225, 0.903);
  color: rgba(0, 0, 0, 0.912);
  border-radius: 4px;
}
footer {
  text-align: center;
  max-width: 700px;
  display: block;
  margin: 0 auto 50px;
  padding: 15px 10px;
  border-radius: 10px;
  background-image: url("../media/hearts.jpg");
  background-size: cover;
  background-position-y: 12px;
  background-position-x: -542px;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.503);
}
footer p {
  background-color: rgba(181, 114, 244, 0.922);
  border-radius: 10px;
  padding: 10px 5px;
  margin: 0;
  font-size: 17px;
  position: relative;
  overflow: hidden;
}
footer p::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/media/glass-texture.jpg");
  background-size: cover;
  opacity: 0.2;
}
footer a {
  font-weight: bold;
  color: rgb(132, 1, 71);
  transition: all ease-in-out 500ms;
}
footer a:hover {
  color: rgb(202, 21, 117);
}
.generating {
  animation: blink-animation 1000ms steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  .user-input-container {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 300px) {
    .culture,
    .length {
      width: 150px;
    }
  }
}
